<%= form_for(@team) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Create new team..." %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>